
body {
  font-size: 16px;
}

nav {
  padding: .5rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  border-radius: .3rem;
  border: 1px solid gray;
}

header {
  display: flex;
  flex-direction: column;
}

.wrapper {
  max-width: 64rem;
  margin: 1rem auto 0;
}

.items {
  display: grid;
  list-style: none;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-items: center;
}

