<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/main.css">
  <title>eShop</title>
</head>
<body>
  <div id="app" class="wrapper">
    <header v-if="!status.isFetchError">
      <input id="search" v-model="search" v-on:input="searchHandler" placeholder="Type item name">
      <cart>
        <product
          v-for="product in cart"
          v-bind:title="product.title"
          v-bind:price="product.price"
          v-bind:id="product.id">
          <button class="cta" v-on:click="removeFromCartHandler">Remove from Cart</button>
        </product>
      </cart>
    </header>
    <main>
      <statusbar :status="status" :products="products" :fproducts="filteredProducts"></statusbar>
      <ul id="products" class="items" v-if="products.length > 0">
        <product 
          v-for="product in filteredProducts"
          v-bind:title="product.title"
          v-bind:price="product.price"
          v-bind:id="product.id">
          <button class="cta" v-on:click="addToCartHandler">Add to Cart</button>
        </product>
      </ul> 
    </main>
  </div>

  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
  <!-- <script src="js/vue.js"></script> -->
  <script type="module" src="js/main.js"></script>
</body>
</html>